
    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div class="widget-card widget-bg1">
                <div class="wc-item">
                    <h4 class="wc-title">
                        سود کل
                    </h4>
                    <span class="wc-des">
                        تمام ارزش سهم
                    </span>
                    <span class="wc-stats">
                        <span class="counter">18</span>میلیون
                    </span>
                    <div class="progress wc-progress">
                        <div class="progress-bar" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="wc-progress-bx">
                        <span class="wc-change">
                            رشد
                        </span>
                        <span class="wc-number ml-auto">
                            78%
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div class="widget-card widget-bg2">
                <div class="wc-item">
                    <h4 class="wc-title">
                        بازخوردهای جدید
                    </h4>
                    <span class="wc-des">
                        بازخوردهای دانشجویان
                    </span>
                    <span class="wc-stats counter">120</span>
                    <div class="progress wc-progress">
                        <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="wc-progress-bx">
                        <span class="wc-change">
                            رشد
                        </span>
                        <span class="wc-number ml-auto">
                            88%
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div class="widget-card widget-bg3">
                <div class="wc-item">
                    <h4 class="wc-title">
                        سفارشات جدید
                    </h4>
                    <span class="wc-des">
                        سهم سفارشات جدید
                    </span>
                    <span class="wc-stats counter">772</span>
                    <div class="progress wc-progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="wc-progress-bx">
                        <span class="wc-change">
                            رشد
                        </span>
                        <span class="wc-number ml-auto">
                            65%
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
            <div class="widget-card widget-bg4">
                <div class="wc-item">
                    <h4 class="wc-title">
                        کاربران جدید
                    </h4>
                    <span class="wc-des">
                        کاربران جدیدالعضو
                    </span>
                    <span class="wc-stats counter">350</span>
                    <div class="progress wc-progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="wc-progress-bx">
                        <span class="wc-change">
                            رشد
                        </span>
                        <span class="wc-number ml-auto">
                            90%
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>