@model DataLayer.Pages
<div class="col-lg-4 col-md-4 col-sm-12">
    <div class="articles_grid_style">
        <div class="articles_grid_thumb">
            <a href="blog-detail.html"><img src="~/Pageimages/@Model.ImageName" class="img-fluid" alt="@Model.Title" /></a>
        </div>

        <div class="articles_grid_caption">
            <h4>@Model.Title</h4>
            <div class="articles_grid_author">
                <div class="articles_grid_author_img"><img src="/Content/assets/img/user-1.jpg" class="img-fluid" alt="امیر احمدی" /></div>
                <h4>امیر احمدی</h4>
            </div>
        </div>
    </div>
</div>
