@model IEnumerable<DataLayer.ViewModels.CourseListHomeViewModel>
    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 mb-3">
                    <div class="sec-heading2 direction-rtl">
                        <div class="sec-left">
                            <h3>آخرین دوره ها</h3>
                        </div>
                      
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 p-0">

                    <div class="arrow_slide three_slide arrow_middle">

                        @foreach (var item in Model)
                        {
                            @Html.Partial("_SingleCourseHomePage", item)
                        }


                    </div>
                </div>

            </div>

        </div>
    </section>