<section class="bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>Popular Category</p>
                    <h2><span class="theme-cl">Hot & Popular</span> Category For Learn</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/content.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Development</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>23 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-2">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/briefcase.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Business</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>58 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/career.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Accounting</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>74 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-4">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/python.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">IT & Software</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>65 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-10">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/designer.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Art & Design</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>43 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-6">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/speaker.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Marketing</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>82 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-7">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/photo.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Photography</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>25 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-8">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/yoga.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Health & Fitness</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>43 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-9">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/Content/assets/img/health.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Lifestyle</a></h4>
                        <ul class="meta">
                            <li class="video"><i class="ti-video-clapper"></i>38 Classes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>