
<section class="gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>Hot &amp; Trending</p>
                    <h2><span class="theme-cl">Recent</span> Courses by professional Instructor</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-1.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$520</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">Tableau For Beginners: Get CA Certified, Grow Your Career</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>8682 Views</li>
                            <li><i class="ti-time mr-2"></i>6h 40min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-1.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Robert Wilson</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>54 lectures</div>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-2.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$349</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">The Complete Business Plan Course (Includes 50 Templates)</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>9882 Views</li>
                            <li><i class="ti-time mr-2"></i>6h 30min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-2.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shruti Hasan</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>26 lectures</div>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-3.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$545</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>5893 Views</li>
                            <li><i class="ti-time mr-2"></i>5h 15min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-3.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Adam Viknoi</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>52 lectures</div>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-4.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$420</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">The Complete Financial Analyst Course 2020</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>8582 Views</li>
                            <li><i class="ti-time mr-2"></i>4h 59min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.6 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-4.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shilpa Shekh</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>43 lectures</div>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-5.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$429</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">PMP Exam Prep Seminar - PMBOK Guide 6</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>9857 Views</li>
                            <li><i class="ti-time mr-2"></i>7h 45min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.9 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-5.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shaurya Preet</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>32 lectures</div>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="/Content/assets/img/co-6.jpg" class="img-fluid" alt=""></a>
                        <div class="cources_price">$249</div>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">Tableau 2020 A-Z:Hands-On Tableau Training For Data Science!</a></h4>
                    </div>

                    <div class="cources_info_style3">
                        <ul>
                            <li><i class="ti-eye mr-2"></i>6852 Views</li>
                            <li><i class="ti-time mr-2"></i>2h 30min</li>
                            <li><i class="ti-star text-warning mr-2"></i>4.8 Reviews</li>
                        </ul>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="/Content/assets/img/user-6.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Preeti Bhartiya</a></h5>
                        </div>
                        <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>48 lectures</div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>