@model IEnumerable<DataLayer.Pages>
    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading-flex direction-rtl">
                        <h2 class="pl-2">آخرین مقالات</h2>
                    </div>
                </div>
            </div>

            <div class="row direction-rtl">

                @foreach (var item in Model)
                {
                    @Html.Partial("_SinglePost" ,item )
                }
                

            </div>
        </div>
    </section>
