
    <section>
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading-flex">
                        <h2 class="pl-2">Recent Articles</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Article -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="articles_grid_style">
                        <div class="articles_grid_thumb">
                            <a href="blog-detail.html"><img src="/Content/assets/img/b-1.jpg" class="img-fluid" alt="" /></a>
                        </div>

                        <div class="articles_grid_caption">
                            <h4>The National Minimum wage is an important part</h4>
                            <div class="articles_grid_author">
                                <div class="articles_grid_author_img"><img src="/Content/assets/img/user-1.jpg" class="img-fluid" alt="" /></div>
                                <h4>Adam Willsone</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Article -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="articles_grid_style">
                        <div class="articles_grid_thumb">
                            <a href="blog-detail.html"><img src="/Content/assets/img/b-2.jpg" class="img-fluid" alt="" /></a>
                        </div>

                        <div class="articles_grid_caption">
                            <h4>The National Minimum wage is an important part</h4>
                            <div class="articles_grid_author">
                                <div class="articles_grid_author_img"><img src="/Content/assets/img/user-2.jpg" class="img-fluid" alt="" /></div>
                                <h4>Rikki Sen</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Article -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="articles_grid_style">
                        <div class="articles_grid_thumb">
                            <a href="blog-detail.html"><img src="/Content/assets/img/b-3.jpg" class="img-fluid" alt="" /></a>
                        </div>

                        <div class="articles_grid_caption">
                            <h4>The National Minimum wage is an important part</h4>
                            <div class="articles_grid_author">
                                <div class="articles_grid_author_img"><img src="/Content/assets/img/user-3.jpg" class="img-fluid" alt="" /></div>
                                <h4>Daniel Wikjones</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
