
<div class="image-cover hero_banner hero-inner-2 shadow rlt" style="background:url(/Content/assets/img/banner-2.jpg) no-repeat;" data-overlay="7">
    <div class="elix_img_box">
        <img src="/Content/assets/img/preet-o.html" class="img-fluid" alt="" />
    </div>
    <div class="container">

        <div class="hero-caption small_wd mb-5">
            <h1 class="big-header-capt cl_2 mb-0">
                خودآموزی ، کسب تجربه ، ورود به بازار کار با تاپ لرن
            </h1>
            <p>
                با کمترینــــ هزینه خودت حرفه ایــــ یاد بگیـر
            </p>
        </div>
        <!-- Type -->
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="banner-search shadow_high">
                    <div class="search_hero_wrapping">
                        <div class="row">

                           @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-control" }))
                           {
                                <div class="col-lg-5 col-md-5 col-sm-12 br-right">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <input name="q" type="text" class="form-control" placeholder="کلمه مورد نظر" />
                                            <img src="/Content/assets/img/search.svg" class="search-icon" alt="" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-5 col-md-4 col-sm-12 small-pad">
                                    <div class="form-group">
                                        <div class="input-with-icon">
                                            <select id="c-category" class="form-control">
                                                <option value="">&nbsp;</option>
                                               
                                                @*@foreach (var item in Model)
                                                {
                                                    <option value="">@item.Name.ToString()</option>
                                                }*@
                                            </select>
                                            <img src="/Content/assets/img/pin.svg" class="search-icon" alt="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-3 col-sm-12 pl-0">
                                    <div class="form-group none">
                                        <button type="submit" class="btn search-btn full-width">جست و جو</button>
                                    </div>
                                </div>
                           }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Trips Facts Start ================================== -->
<section class="p-0 trips_top direction-rtl">
    <div class="container">
        <div class="trips_wrap">
            <div class="row m-0">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class="ti-video-camera"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>@ViewBag.courseCount دوره آنلاین</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class="ti-medall"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>@ViewBag.teacherCount استاد مجرب</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips none">
                        <div class="trips_icons">
                            <i class="ti-infinite"></i>
                        </div>
                        <div class="trips_detail">
                            <h4>@ViewBag.userCount نفر دانشجو</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Trips Facts Start ================================== -->
