.notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: 5px;
    right: 3px;
    padding: 5px 7px;
    border-radius: 50%;
    background: red;
    color: white;
}